# Игнорировать папку .vs (Visual Studio)
.vs/

# Игнорировать папки bin и obj (компилированные файлы)
bin/
obj/

# Игнорировать файлы настроек пользователя Visual Studio
*.user
*.suo

# Игнорировать другие файлы временных данных
*.log
*.tmp
